* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

    /* hamburare */
    /* heder */

    .navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 12vh;
        background-color: royalblue;
        font-family: sans-serif;
    }
    

    .burger {
        margin-right: 1.5rem;
        cursor: pointer; 
    }
    
    .navlinks {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        right: 0px;
        height: 20vh;
        top: -90vh;
        background-color: royalblue;
        align-items: center;
        width: 20%;
        transition: all 1s;
    }
    
    .navActive {
        transform: translateY(100vh);
    }

    .nav-logo {
        display: block;
        position: absolute;
        top:2rem;
        left:calc(50vw - 5.5rem);
        z-index: 5;
    }
    
    .navlinks li {
        list-style: none;
    }
    
    .navlinks a {
        color: black;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 20px;
    }
    
    .burger div {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 5px;
        border-radius: 10%;
        transition: all 0.3;
    }
    
    .togggle .line1 {
        transform: rotate (-45deg) translate( -5px, 6px);
    }
    
    .toggle .line2 {
        opacity: 0;
    }
    
    .toggle .line3 {
        transform: rotate (45deg) translate( -5px, -6px);
    }
.navbar{
    text-align: center;
    flex: auto;
}

/* slut på hamburgare */


#logga{
    height: 3rem;
    width: 11rem;
}
/* Allt inanför här är till hader */

#wrapper{
   display: grid;
   grid-template-areas: 
   's1'
   's2'
   's3';
}

h1{
    text-align: center;
}
#drums{
    margin-top: 2rem;
}
    #sec1 {
        grid-area: s1;
        border: black solid 1px;
        height: 15rem;
        margin-bottom: 4rem;
        margin-left: 3%;
        margin-right: 3%;
        background-image: url(../img/josh-sorenson-MjIMc6uhwrE-unsplash.jpg);
        background-size: 100%;
    }

    #sec2 {
        grid-area: s2;
        border: black solid 1px;
        height: 15rem;
        margin-bottom: 4rem;
        margin-left: 3%;
        margin-right: 3%;
        background-image: url(../img/hector-bermudez-iIWDt0fXa84-unsplash.jpg);
        background-size: 100%;
    }

    #sec3 {
        grid-area: s3;
        border: black solid 1px;
        height: 15rem;
        margin-bottom: 4rem;
        margin-left: 3%;
        margin-right: 3%;
        background-image: url(../img/Alvin.jpg);
        background-size: 100%;
        background-position: center;
    }
  
#louie{
    margin-top: 4rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2{
    text-align: center;
    margin-top: 2rem;
}
h3{
    text-align: center;
}
p{
    text-align: center;
}
  h4 {
      margin-left: 2rem;
      margin-top: 4rem;
  }

  #collagediv{
    display: flex;
    justify-content: center;
    width: 100%;
}

#collage {
    display: grid;
    grid-template-areas: 
    'b1' 'b2' 'b3';
}

#bild1 {
    grid-area: b1;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
   
   
}

#bild2 {
    margin-bottom: 2rem;
    grid-area: b2;
    border: black solid 1px;
    margin-left: 1rem;
    width: 22.5rem;
}

#bild3 {
    grid-area: b3;
    width: 22.5rem;
    margin-left: 0.5rem;
}

.bild {

    height: 15rem;
}

#kontocollage {
    display: flex;

}

.kontobild {
    height: 8rem;
    margin: 0.3rem;
}


